@model FiltersViewModel

@functions {
    bool isActive(Facet o) => Model.ActiveFilters.Any(x => x.Name == o.Name && x.Value == o.Value);
}

@if (Model != null && Model.Section != null && Model.Section.Options != null && Model.Section.Options.Any())
{
    <h3>@Model.Section.Title</h3>
    <ul>
        @foreach (var facet in Model.Section.Options)
        {
            <li>
                <label>
                    <input type="checkbox" class="form-check-input" plp-type="filter" plp-filter-name="@facet.Name" plp-filter-value="@facet.Value" checked="@isActive(facet)" />@facet.Value
                </label>
            </li>
        }
    </ul>
}
