@model ListingPageModel
<div class="row">
    <div class="todo">Breadcrumbs</div>
</div>
<div class="row">
    <div class="col-8">
        <h4><span class="todo">@Model.ActiveCategory</span> <small class="text-muted">(@Model.TotalProductsCount)</small></h4>
    </div>
    <div class="col-4">
        <select plp-type="sort" class="form-control todo">
            @foreach (var o in Model.AvailableSort)
            {
                <option plp-sort-property="@o.PropertyName" plp-sort-dir="@o.Direction" value="@o.Title">@o.Title</option>
            }
        </select>
    </div>
</div>
<div class="row" plp-section="activeFilters">
    @await Html.PartialAsync("Sections/ActiveFiltersSection", Model.ActiveFilters)
</div>
